@use '../../../../theme/palette.scss' as p;
@import '../../../../animations.scss';

.cat-vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 82vh;
  background: linear-gradient(to bottom, map-get(p.$palette, light-gray), map-get(p.$palette, soft-yellow));
  color: map-get(p.$palette, dark-gray);
  padding: 20px;
  box-sizing: border-box;

  .title {
    color: map-get(p.$palette, primary);
  }

  .cats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 100%;
    max-height: 50vh;

    .cat {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      // max-width: 40%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      border: 2px solid map-get(p.$palette, primary);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.rankings-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 24px;
  border: none;
  border-radius: 0;
  background-color: map-get(p.$palette, primary);
  color: map-get(p.$palette, black);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 2px solid map-get(p.$palette, primary);
  transition: background-color 0.3s ease, color 0.3s ease;

  span {
    display: block;
    line-height: 1.5;
  }

  span:first-child {
    font-size: 1.5rem;
    /* Larger font for the top text */
    color: map-get(p.$palette, dark-gray);
  }

  span:last-child {
    font-size: 14px;
    color: whitesmoke;
  }

  &:hover {
    background-color: map-get(p.$palette, yellow);
    /* Lighter on hover */
    color: map-get(p.$palette, dark-gray);
  }
}

/* Mobile Devices (portrait) */
@media (max-width: 767px) {

  .cat-vote-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 82vh;
    background: linear-gradient(to bottom, #F4F4F4, #FFF8E1);
    color: #333333;
    padding: 20px;
    box-sizing: border-box;

    .cat {
      overflow: hidden;
      border: 2px solid #FFA500;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      flex-grow: 1;
      width: 85vw;
    }

  }

  .cats {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* width: 100%; */
    /* height: 100%; */
    max-height: 20rem;
  }

  .cat-vote-container {
    .cats {
      min-width: 100vw;
      width: 100vw;
      min-height: 70%;
    }
  }

  .cat img {
    width: 100px;
    height: 100px;
  }

  .rankings-button {
    font-size: 12px;
    position: fixed;
    bottom: 0px;
    padding: 10px;
    margin-top: 39px;
    background-color: map-get(p.$palette, primary);
    cursor: pointer;
    width: 100%;
    height: 10%;
  }

  .title-container{
    position: fixed;
    top: 43%;
  }
}

/* Tablets (landscape) */
@media (min-width: 768px) and (max-width: 1024px) {

  .cat-vote-container {
    padding: 20px;
    height: 450px;
  }

  .cats {
    flex-direction: row;
    justify-content: space-between;
  }

  .cat img {
    width: 140px;
    height: 140px;
  }

  .rankings-button {
    font-size: 15px;
  }
}

/* Desktops (small) */
@media (min-width: 1025px) and (max-width: 1399px) {

  .cat-vote-container {
    padding: 30px;
    height: 525px;
    padding-bottom: 0px;

  }

  .cats {
    justify-content: space-evenly;
  }

  .cat img {
    width: 160px;
    height: 160px;
  }

  .rankings-button {
    font-size: 16px;
    height: 10%;
  }
}

/* Desktops (large) */
@media (min-width: 1400px) {

  .cat-vote-container {
    padding: 40px;
    height: 837px;
    padding-bottom: 0px;
  }

  .cats {
    justify-content: space-evenly;
  }

  .cat img {
    width: 180px;
    height: 180px;
  }

  .rankings-button {
    width: 25%;
    height: 60px;
    font-size: 18px;
    margin-top: 88px;
  }
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  animation: pulse 1.5s infinite ease-in-out;

}

.loader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cat {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.cat-container {
  position: relative;
  display: inline-block;
}

.cat img {
  display: block;
  width: 100%;
  height: auto;
}

.plus-one {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  font-weight: bold;
  color: map-get(p.$palette, primary);
  transform: translate(-50%, -50%);
  animation: fade-move-up 2s ease forwards;
  pointer-events: none;
}