<div class="cat-vote-container">
  <!-- <h2 class="title">Choose who's cute !</h2> -->
  <div class="cats">
    <!-- Left Cat -->

    <div class="cat" (click)="upVoteCat(cats[leftIndex].id,'left')">
      @if (cats.length > 0) {
      <img [src]="cats[leftIndex].url" alt="Left Cat" />
      @if (showPlusOneLeft) {
      <span class="plus-one">+1</span>
        }
      }
      @else {
      <div class="loader">
        <img [src]="'assets/logo_no_text.png'" alt="Loader">
      </div>
      }
    </div>

    <!-- Right Cat -->
    <div class="cat" (click)="upVoteCat(cats[rightIndex].id,'right')">
      @if (cats.length > 0) {
      <img [src]="cats[rightIndex].url" alt="Right Cat" />
      @if (showPlusOneRight) {
      <span class="plus-one">+1</span>
        }
      }
      @else {
      <div class="loader">
        <img [src]="'assets/logo_no_text.png'" alt="Loader">
      </div>
      }
    </div>
  </div>

  @if (cats.length > 0) {
  <div class="title-container">
  <h2 class="title">Choose who's cute !</h2>
  </div>
  <span class="rankings-button" (click)="showRanking()">
    <span>Voir classement</span>
    <span>{{gameNumber}} match{{gameNumber > 1 ? 's' : ''}} joué{{gameNumber > 1 ? 's' : ''}}</span>
  </span>
  }

</div>