$palette: (
  black: #000000, 
  orange: #FFA500, 
  yellow: #ffd70054, 
  light-gray: #F4F4F4, 
  dark-gray: #333333, 
  white: #FFFFFF,
  blue: #007BFF, 
  red: #FF4D4F,
  green: #28A745,
  medium-gray: #B3B3B3,
  soft-yellow: #FFF8E1,
  gold : #D4Af37,
  silver : #C0C0C0,
  bronze :#CD7F32,
  light-bronze : #CD7F3257
);
