@use './theme/palette.scss' as p;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.clickable {
  cursor: pointer;
}

.orange-background {
  background-color: map-get(p.$palette, primary);
}